.video-info {
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 0.2rem;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    margin-top: 1em;
    color: darkgray;
 }

.views {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.views-number {
  text-transform: uppercase;
}

.views-text {

}